
<!-- banner part start-->
<section class="banner_part" >
    <div class="blackLayer">
    <div class="container">
        <div class="row align-items-center">
            <img src="assets/img/logo4.JPG" class="img-responsive pb-2 col-md-6" alt="IMG">
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Call for Humanity
                        </h1>
                        <p>Connecting the society with NGOs and Orphanages</p>
                        <a href="/#/donor" class="btn_2">Portal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>